body {
  background-color: rgb(243, 233, 255);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

h1 {
  color: rgb(89, 52, 194);
  font-family: "Exo", sans-serif;
}

main {
  background-color: rgb(119, 74, 216);
  text-align: center;
  width: 1000px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 100px auto 0 auto;
  color: white;
  padding: 45px 30px;
}

main h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-align: left;
}

p {
  text-align: left;
  font-weight: 400;
}

span {
  font-weight: 700;
}

li {
  list-style: none;
  text-align: left;
  border-left: 7px solid;
  padding-left: 7px;
  color: rgb(251, 234, 188);
  margin: 5px auto;
}

main ol p {
  margin: 0px;
  padding-left: 14px;
}

.first-buttom {
  background-color: rgb(251, 234, 188);
  text-decoration: none;
  color: rgb(57, 25, 82);
  border-radius: 5px;
}

.first-buttom:hover {
  background-color: rgb(244, 203, 40);
}

footer {
  margin: 50px auto 0 auto;
}

.second-buttom {
  background-color: rgb(244, 203, 40);
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
}

.second-buttom:hover {
  background-color: rgb(216, 173, 0);
}

footer p {
  font-size: 18px;
  color: rgb(128, 114, 140);
  margin: 20px auto 0 auto;
  text-align: center;
}